*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font1: 'Akaya Telivigala', cursive;
    --font2: 'Montserrat', sans-serif
}
body{

    background-image: url(https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 500px;
}

.main-title{
    margin: 10%;
    font-family: var(--font1);
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
}
.control, .timer{
    display: flex;
    justify-content: space-between;
    background-color: #FBBC0E;
    font-family: var(--font1);
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
    margin: 5%;
    padding: 5px;
}
.control-puntaje{
    display: flex;
}

/* TIMER */

.timer{
    width: 110px;
    justify-content: center;
    
}

/* GRILLA */
.grilla{
    width: 100%;
    border-radius: 5px;
    padding: 2%;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.75);
}


